@use './partials/variables' as *;

$fa-font-path: "../webfonts" !default;


@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';


h1{
    color: $text-color;
}
.thecard{
    width: 100%;
    height: 700px;
}
.mycard-c {
    width: 100%;
    height: 400px;


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
}
.mycard{
    width: 100%;
    height: 250px;

    .mycard-b{
        width: 100%;
        height: 100%;
        overflow-y: auto;

    }
}
